//loading();

//Remove todos os itens selecionados pelo usuario
removerTodos();

//limpa o formulario
$('.formulario_padrao_1').find("input[type=text], textarea").val("");
$('.formulario_padrao_1').find("input[type=text], textarea").removeClass('input_preenchido');


$('.especialidades_formulario_envio').html('<h2 class="mensagem_envio">Sua mensagem foi enviada com sucesso</h2>');

//$('.mensagem_envio a').click(function(e) {
//	e.preventDefault();
//	$(this).closest('div').fadeOut(300, function() {$(this).remove()});
//})
stoploading();
