<div id="wrapper_admin">
	<div class="lista_paginas">
		<ul>
			<% @paginas.each do |pagina| %>
				<li><%= link_to pagina.titulo, "/users", :remote => true %></li>
			<% end %>
		</ul>		
	</div>
	<div class="detalhe_pagina" id="detalhe_tabela">
		adfadfs
	</div>
	
		
</div>
