<div id="manifesto">
	<div class="manifesto-wrapper">
		<span class="topo"></span>
		<div class="manifesto-conteudo">
			<h3>Manifesto Proiz</h3>
			<p>Enalteçam as marcas que são conhecidas por poucos ou por muitos, mas que sabem o que são e aonde querem chegar. Para elas existem as melhores ideias e o melhor de quem cria expressões magníficas. Existe quem pode amá-las a todo instante e quem pode defendê-las sempre que preciso. Provoquem, pensem e libertem, pois nosso tempo não espera. O nosso tempo tem vontade de mudança. Estamos juntos para criar conceitos, evoluir preceitos e transformar a cultura das marcas.</p>
		</div>
		<div class="manifesto-footer">
			<div class="footer-logo"><%= image_tag('logo_manifesto.png')%></div>
		</div>
		<span class="rodape"></span>
	</div>
</div>