// Place all the styles related to the admin/admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  //min-height: 100%;
  //position: relative;
  .areas_site {
      h1, h2, h3, h4, h5, h6 {
      margin: 0px;
      padding: 0px;
      display: inline;
    }
  }
}

body {
  height: 100%;
  .wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: 150px;
  }
  #footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    margin-top: 200px;
    h3, h4 {
      display: inline-block;
    }
    width: 100%;
    position: absolute;
    left: 0;
    //bottom: 0;
    text-align: center;
    p {
      @extend .font_padrao_1;
      color: #636363 !important;
      font-size: 10pt;
      margin: 30px 0px;
    }
    .footer_canais {
      height: 100px;
      background: #8dc63f;
      .wrapper_canais {
        padding: 35px 0px;
        h3 {
          margin: 0px 45px;
          @extend .font_padrao_1;
          color: #004961 !important;
          font-size: 16pt;
        }
        h4, a {
          margin: 0 20px;
          @extend .font_padrao_1;
          color: #fff !important;
          font-size: 12pt;
        }
      }
    }
  }
  #footer {
    
  }
}
