<% content_for :header do %>
 <%= javascript_include_tag 'trabalhos' %>  
<% end %>
<script>
	$(document).ready(function() {
		recarregar();	
	});	
</script>

<div id="trabalhos">
	<div class="titulo">
		<h1 class="trab_ativo"><%= link_to 'Trabalhos', trabalhos_path, :title => 'Todos', :remote => true %></h1>
		<h1><%= link_to '/Em mídias sociais', midias_sociais_path, :remote => true %></h1>
		<br/><br/>
	</div>
	<script>
	
	</script>
	<div id="wrapper_corpo_trabalhos">
		
		<%= render 'trabalhos' %>
	</div>
	
</div>
<div id="intervalo4" class="intervalo">
</div>