<% content_for :header do %>
 <%= javascript_include_tag 'trabalhos' %>  
<% end %>
<script>
	$(document).ready(function() {
		recarregar();	
	});	
</script>

<div id="trabalhos">
	<div id="wrapper_corpo_trabalhos">
		<%= render 'trabalhos' %>
	</div>
	
</div>
<div id="intervalo4" class="intervalo">
</div>