
<div class="item <%= trab.orientacao == '0' ? 'tam2' : 'tam1' %>">
	<%= link_to "AAA", trabalho_path(trab), :title => "Detalhe trabalho", :remote => true %>	
	<%= image_tag(trab.imagem_vitrine.url) %>
	<div class="hover">
		<div class="descricao_trabalho">
			<h4><%= trab.descricao_vitrine %></h4>
		</div>
	</div>
</div>