@font-face {
  font-family: 'droid_serif';
  src: url('droidserif.eot?#iefix') format('embedded-opentype'),
       url('droidserif.ttf') format('truetype'),
       url('droidserif.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'nexa_bold';
    src: url('nexa_bold.eot?#iefix');
    src: url('nexa_bold.eot?#iefix') format('embedded-opentype'), 
         url('nexa_bold.woff') format('woff'), 
         url('nexa_bold.ttf')  format('truetype'),
         url('nexa_bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_light';
    src: url('nexa_light.eot?#iefix') format('embedded-opentype'), 
         url('nexa_light.woff') format('woff'), 
         url('nexa_light.ttf')  format('truetype'),
         url('nexa_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
         
}

@font-face {
    font-family: 'din_medium';
    src: url('din_medium.eot?#iefix') format('embedded-opentype'), 
         url('din_medium.eot') format('eot'), 
         url('din_medium.ttf')  format('truetype'),
         url('din_medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icons';
    src: url('icons.eot?#iefix');
    src: url('icons.eot?#iefix') format('embedded-opentype'), 
         url('icons.woff') format('woff'), 
         url('icons.ttf') format('truetype'),
         url('icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}