.clean {
	height: auto;
	background: #014a60;
}
#manifesto {
	background: #014a60;
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 100px;

	.manifesto-wrapper {
		width: 900px;
		max-width: 900px;
		margin: 0 auto;
		
		  position: relative;
		background: #ffb718 image-url('manifesto-background.png');
		background-repeat: repeat-y;
  		background-size: 100% 100%;
		.manifesto-conteudo {
			padding: 140px 50px 25px 50px;
  			width: 550px;
  			margin: 0 auto;
  			h3 {
  				font: normal 13pt/1em 'droid_sans', Tahoma;
  				color: #014a60;
  				margin-bottom: 100px;
  			}
  			p {
  				font: normal 12pt/26pt 'droid_sans', Tahoma;
  				color: #014a60;
  				margin-bottom: 100px;
  			}
		}
	}
	.manifesto-wrapper {
		.topo, .rodape {			
			background-size: 100% 100%;
			position: absolute;
			width: 100%;
			height: 63px;
			left: 0;
		}
		.topo {
			background: #ffb718 image-url('manifesto-top-footer.png') no-repeat;
			background-size: 100%;
		}
		.rodape {
			background: #ffb718 image-url('manifesto-background-ropade.png') no-repeat;
			background-size: 100%;
			left: -1px;

		}
	}
	.manifesto-footer {
		padding-bottom:  25px;
		.footer-logo {

		}
	}
}