// Place all the styles related to the Paginas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper_admin {
  .lista_paginas {
    width: 24%;
    float: left;
    margin-right: 1%;
    ul {
      margin: 0;
      padding: 0;
      .menu_ativo a{
          color: #8dc63f;
      }
      .menu_ativo .sub_menu {
        display: block;
      }
      li {
        background: #e5e6e6;
        list-style: none;
        padding: 10px 20px;
        margin-bottom: 1px;
        a {
            @extend .font_padrao_1;
            font-size: 14pt;
        }
        
       .sub_menu {
         display: none;
         .submenu_ativo a{
           color: #8dc63f;
         }
         li {
           background: transparent;
           padding: 5px 10px;
         }
         a {
           font: normal 12pt/1.5em "droid_serif",Times;
           color: #504e4e;
         }
         a.menu_ativo {
          color: #8dc63f;
         }
         a:before {
           content: '';
           width: 16px;
           height: 16px;
           background: #cdcdcd;
           display: inline-block;
           margin: -2px 10px 0px 0px;
           vertical-align: middle;
           box-shadow: -1px -1px 0px 0px #e3e3e3;
         }
       }
      }
      .menu_ativo, .menu_ativo > ul li {
        background: #fff;
      }
    }
    
  }
  .detalhe_pagina {
    display: inline-block;
    width: 75%;
  }
}


.font_padrao_1 {
  font-family: "nexa_bold", Times;
  line-height: 1.3em;
  font-weight: normal;
  color: #004A61;
}
.font_padrao_2 {
  font-family: "droid_serif", Times;
  line-height: 1.3em;
  font-weight: normal;
}