body {
	margin: 0px;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.corpo {
	height: 100%;
	width: 100%;
	background: #f1f2f2;
}
*:focus{
    outline: 0;
}
#content {
	min-height: 200px;
	padding-top: 140px;
}
.wrapper {
	height: 95%;
}
/*****************************************************************/
/********************* CABEÇALHO E MENU **************************/
/*****************************************************************/
#header {
	text-align: center;
	border-bottom: 1px solid #e6e7e8;
	background: #f1f2f2;		
	/*padding: 20px 0px 25px 0;*/
	padding: 85px 0px 30px 0;
	z-index: 9999;
	position: fixed;	
	width: 100%;
}

#header span {
	content: '';
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
}

#logo, #menu {
	display: inline-block;
}
#logo img {
	height: 22px;
	width: 88px;
	margin: 0px 0px -6px 0px;
}
#pull {
	display: none;
	background: image-url("icon_menu.png") no-repeat center center;
	color: transparent;
}

#menu ul {
	list-style: none;
	margin: 0px 0px 0px 100px;
	padding: 0;
}
#menu ul li {
	display:inline-block;
	margin: 0 22px;	
}
#menu ul li a {
	display: inline;
}
#menu a{
	font: bold 8pt/2em 'nexa_bold', Tahoma;
	color: #243942;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul li a:hover {
	ouline: none;
	text-decoration: none;	
}
#menu nav {
	display: inline-block;	
}
#menu ul li a {
	color: #fdba31;
}

#menu ul li a::before {
	color: #243942;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
	
}
@-moz-document url-prefix() { 
  #menu ul li a::before {
    margin: 2px 0;
  }
}
#menu ul li a:hover::before, #menu ul li a:focus::before {
	opacity: 0;
}
#menu ul li a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
#menu ul li a:hover {
	border-bottom: 3px solid #fdba31;
	border-top: 3px solid #fdba31;
	-webkit-animation: bordasurgir 0.3s;
	-moz-animation: bordasurgir 0.3s;
	animation: bordasurgir 0.3s;
	padding:8px 0 7px;
}

@-moz-keyframes bordasurgir {
	0% {
		padding:15px 0;
		border-color: rgba(253,186,48,0);
	}
	100% {
		padding: 8px 0 7px;
		border-color: rgba(253,186,48,1);
	}
}
@-webkit-keyframes bordasurgir {
	0% {
		padding:15px 0;
		border-color: rgba(253,186,48,0);
	}
	100% {
		padding: 8px 0 7px;
		border-color: rgba(253,186,48,1);
	}
}

#menu {
  transition: all 0.4s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  width: 45%;
  overflow: hidden;
  position: relative;
  height: 30px;
  vertical-align: middle;
  padding-top: 12px;
  ul {
    /*height: 20px;
    overflow: hidden;
    position: relative;*/
  }
}
.menu_oculto {
  width: 10px !important;
  overflow: hidden;
  position: relative;
  height: 20px;
}

#redes {
	display: inline-block;	
}
#redes a {
	border-left: 1px solid #dedfdf;
	padding: 0px 15px 0px 15px;
	position: relative;
  display: inline-block;
  top: 5px;
}
#redes a:hover:after {
  color: #fdba31;
}
#redes a:after {
	font-family: 'icons';
  color: #BDBDBD;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 21pt;
  line-height: 17px;
  position: relative;
  display: block;
}
#redes .facebook:after {
	content: '\e407';
	
}
#redes .twitter:after {
	content: '\e411';
	
}
#redes .google:after {
	content: '\e410';
}
/*
#redes a:before {
	position: absolute;
	display: inline-block;
	content: '';
	border-left: 1px solid #e9eaea;
	height: 19px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: -15px;
}*/

#idiomas {
  display: inline-block;
  margin: 0 10px 0 25px;
}
#idiomas a {
  font: normal 12pt/1em "nexa_bold", Times;
  color: #bdbdbd;
  background: transparent;
  padding: 3px 4px;
  display: inline-block;
  top: -3px;
  position: relative;
}
#idiomas a.idioma_ativo, #idiomas a:hover {
  background: #fff;
}
.fundo_branco a.idioma_ativo, .fundo_branco a:hover {
  color: #fdba31 !important;
  
}

.fundo_branco_wrapper {
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.05);
}
/*****************************************************************/
/********************* FIM CABEÇALHO E MENU **********************/
/*****************************************************************/

/*****************************************************************/
/********************* BOTOES PADROES - BOTAO 1*******************/
/*****************************************************************/
.bt_padrao1 {
	text-align: center;
	display: inline-flex;
	opacity: 1;
}
.bt_padrao1 .circulo {
	height: 70px;
	width: 70px;
	/*background: #004961;*/
	float: left;
}
.bt_padrao1 span {
	background: #fff image-url('mais_noticias.png') no-repeat center center;
	display: block;
	width: 40px;
	margin: 15px 10px 5px 15px;
	height: 40px;
	border-radius: 100%;
	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
}
.bt_padrao1 .mensagem {
	/*background: #004961;*/
	width: 0px;
	height: 59px;
	float: right;
	padding: 5px 5px 6px 10px;
	-moz-transition:0.8s all;
	-webkit-transition:0.8s all;
	margin-left: -15px;
}
.bt_padrao1 p {
	/* display: none; */
	/* float: right; */
	background: #fff;
	font: normal 14px/1em "nexa_bold", tahoma;
	color: transparent;
	text-indent: -50px;
	text-decoration: none;
	padding: 25px 0px 21px 0px;
	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
	text-transform:uppercase;
}
.bt_padrao1 a:hover .circulo > span  {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}

.bt_padrao1 a:hover > .mensagem {
	width: 127px;
	-moz-transition:0.8s all;
	-webkit-transition:0.8s all;
}
.bt_padrao1 a:hover > .mensagem p{
	padding-left: 22px;
	padding-right: 27px;
	color: #fdba31;
	text-indent: 0px;
	-moz-transition:0.6s all;
	-webkit-transition:0.6s all;
}

/*****************************************************************/
/************* BOTAO PADRAO 2 - FUNDO BRANCO COM BORDA VERDE ****/
/****************************************************************/
.botao_padrao2
{
	border: 2px solid #a1cf63;
	background: #FFF;
	font: normal 8pt/1em 'nexa_bold', Tahoma;
	color: #bdbdbd;
	margin: 2px 0px 10px 0px;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 2px solid transparent;
	letter-spacing: 1px;
}

/*****************************************************************/
/***************** FIM BOTOES PADROES ****************************/
/*****************************************************************/

/*****************************************************************/
/********************* INTERVALOR ENTRE OS CAMPOS*****************/
/*****************************************************************/
.intervalo {
	height: 300px;
	width: 100%;
	background: image-url('fundo_intervalo1.png');
	-moz-box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
}
#intervalo1 {
	background: image-url('intervalo_1.png');
}
#intervalo2 {
	background: image-url('fundo_intervalo2.png');
}
#intervalo3 {
	background: image-url('intervalo_3.png');
	display: inline-block;
}
#intervalo4 {
	background-image: image-url('intervalo_4.png');
}
/*****************************************************************/
/***************** FIM INTERVALOR ENTRE OS CAMPOS*****************/
/*****************************************************************/

/*****************************************************************/
/************ Página incial - ÁREA DE RODAPE *********************/
/*****************************************************************/
#home_rodape {
	background: #243942;
	position: relative;
}
#home_rodape .midias_sociais {
	text-align: left;
	background: #fdba31;
	min-height: 130px;
	padding: 70px 0 70px 5%;
}
#home_rodape .midias_sociais .mensagem {
	opacity: 0;
	float: left;
	width: 40%;
	margin: 0;
}
#home_rodape .midias_sociais .mensagem h4{
	font: normal 22pt/1.2em "nexa_bold", Tahoma;
	color: #004961;
	width: 80%
}
#home_rodape .midias_sociais .mensagem p{
	font: normal 9pt/1.5em "droid_serif", Times;
	color: #004961;
	margin-top: 15px;
}

#home_rodape .newsletter {  
	background: #cd9929;
	width: 100%;
	padding: 25px 0;
	text-align: center;
	
}

#home_rodape .newsletter h4 {
	font: normal 14pt/1.2em "nexa_bold", Tahoma;
	color: #fdba31;
}
#home_rodape .newsletter form { 
	display: none;
	margin: 0;
}
#home_rodape .newsletter form input[type="text"] {
	border: none;
	background: transparent;
	font: normal 16pt/1.2em "droid_serif", Tahoma;
	color: #fff;
	outline: none;
	margin: 6px 0;
}
#home_rodape .newsletter form .bt_enviar {
	display: inline-block;
	/*background: #fdba31;
	padding: 2px;*/ 
	-webkit-appearance:none;
	position: absolute;
  /*right: 50px;*/
  right: initial;
}
#home_rodape .newsletter form input[type="submit"] {
	/*border: none;
	padding: 9px 15px 6px 14px;
	font: normal 12pt/1em "nexa_bold", Tahoma;
	color: #fff;
	background: #cd9929;*/
	border: 3px solid #fff;
  background: transparent;
  font: normal 8pt/1em 'nexa_bold', Tahoma;
  color: #fff;
  margin: -3px 0px 10px 0px;
  text-transform: uppercase;
  padding: 18px 30px 13px;
  letter-spacing: 1px;
  cursor: pointer;
	text-transform: uppercase;
	-webkit-appearance:none;
	-webkit-transition: 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -o-transition: all 0.2s ease-in-out 0.2s;
  -ms-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}
#home_rodape .newsletter form input[type="submit"]:hover {
   background: #004961;
}

#home_rodape .newsletter form ::-webkit-input-placeholder {
   color: #FFF;
}
#home_rodape .newsletter form :-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

#home_rodape .newsletter form ::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

#home_rodape .newsletter form :-ms-input-placeholder {  
   color: #FFF;  
}

#home_rodape .rodape {
	background: #243942;
	padding: 150px 10% 110px;
	height: 150px;
}
#home_rodape .rodape .mensagem_wrapper {
	display: inline-block;
	float: left;
	width: 485px;
	border: 1px solid #fefefe;
	padding: 7px 9px 7px 7px;
	box-shadow: 0px -1px 0px 0px #7b888d;
	-moz-box-shadow: 0px -1px 0px 0px #7b888d;
	-webkit-box-shadow:0px -1px 0px 0px #7b888d;
}
#home_rodape .rodape .mensagem {
	width: 100%;
	display: inline-block;
	position: relative;
}
#home_rodape .rodape .mensagem img {
	margin: 37px 25px 40px 20px;
	float: left;
}
#home_rodape .rodape .mensagem p {
	margin: 25px 15px 25px 10px;
	font: normal 10px/1.5em "nexa_light", Tahoma;
	color: #FFF;
	letter-spacing: 1px;
}
#home_rodape .rodape .endereco {
	text-align: right;
	display: inline-block;
	float: right;
}
#home_rodape .rodape .endereco h3{
	font: normal 18px/1.5 "nexa_bold", Tahoma;
	color: #fdba31;
}
#home_rodape .rodape .endereco h5{
	font: normal 14px/1.5 "nexa_light", Tahoma;
	color: #fff;
}
#home_rodape footer {
	text-align: center;
	bottom: 30px;
	position: inherit;
}
#menu_inferior {
  display: inline;
  margin: 0;
  left: 0;
  position: absolute;
  padding-left: 10%;
}
#menu_inferior li{
 display: inline; 
}
#menu_inferior li:first-child{
 margin-left: -5px; 
}
#menu_inferior li {
  margin: 0 15px;
}
#menu_inferior li {
  a {
    font: normal 12pt/1em "nexa_bold", Times;
    color: #fdba31;
    display: inline-block;
  }
  a:hover {
    color: #fff;
  }
}
#home_rodape footer p{
	font: normal 8pt/1.5 "nexa_light", Tahoma;
	color: #fff;
}

.midias_sociais a{
	box-shadow: 0 0 0 5px #004961;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	
	
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 0px 20px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
}
.midias_sociais a:before {
	font-family: 'icones';
	content: "\e600";
	speak: none;
	font-size: 48px;
	line-height: 150px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	color:#fdba31;
}
.midias_sociais a:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #004961;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.midias_sociais a:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}
/*****************************************************************/
/************ FIM Página incial - ÁREA DE RODAPE *****************/
/*****************************************************************/

.carregando {
	/*margin-top: 200px;
	height: 200px;*/
}


/*****************************************************************/
/************ FIM Inicio Página Trabalhos - **********************/
/*****************************************************************/


/*****************************************************************/
/******************** GERAL - CARREGANDO *************************/
/*****************************************************************/
#carregando {
	position: fixed;
	top: 0;
	right: 0;
	border-style: solid;
	border-width: 0 86px 86px 0;
	border-color: transparent #004961 transparent transparent;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
}
#carregando img{
	position: absolute;
	top: 4px;
	right: -90px;
}
/*****************************************************************/
/******************** GERAL - CARREGANDO *************************/
/*****************************************************************/


/****************************************************************/
/****************** Classes de tamanho padrao *******************/
/****************************************************************/
.titulo_padrao_1 {
	text-align: center;
	margin-bottom: 65px;
	padding-top: 240px;
}
.titulo_padrao_1 h1{
	font: normal 48pt/1em "nexa_bold", Tahoma;
	color: #8dc63f;
}



.formulario_padrao_1 p {
	font: normal 10px/1em "droid_serif", Times;
	color: #004961;
	margin: 10px 0px
}
.formulario_padrao_1 input[type="text"] {
	width: 100%;
	background: #FFF;
	border: none;
	height: 50px;
	padding: 0 15px;
	font: normal 14pt/1.5em droid_serif, Times;
	color: #8dc63f;
	margin: 10px 0;
	display: block;
	-webkit-appearance:none;  
  -webkit-border-radius:0px;
}

.formulario_padrao_1 textarea{
	width: 100%;
	height: 150px;
	background: #FFF;
	border: none;
	padding: 0 15px;
	font: normal 14pt/1.5em droid_serif, Times;
	color: #8dc63f;
	margin: 10px 0;
	display: block;
	resize:none;
	-webkit-appearance:none;  
  -webkit-border-radius:0px;
  padding-top: 10px;
}
.formulario_padrao_1 input[type="text"]:focus, .formulario_padrao_1 textarea:focus {
	background: #004961;
}
.formulario_padrao_1 input[type="text"]::-webkit-input-placeholder,
.formulario_padrao_1 textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #8dc63f;
    font-family: nexa_bold;
}
.formulario_padrao_1 input[type="text"]:-moz-placeholder,
.formulario_padrao_1 textarea:-moz-placeholder  { /* Mozilla Firefox 4 to 18 */
    color: #8dc63f;
    font-family: nexa_bold;
}
.formulario_padrao_1 input[type="text"]::-moz-placeholder,
.formulario_padrao_1 textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8dc63f;
    font-family: nexa_bold;
}
.formulario_padrao_1 input[type="text"]:-ms-input-placeholder,
.formulario_padrao_1 textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #8dc63f;
    font-family: nexa_bold;
}

.formulario_padrao_1 input[type="submit"] {
	float: right;
	letter-spacing: 1px;
	/*background: #78a22f;*/
	background: transparent;
	border: 6px solid #fdba31;
	font: normal 12pt/1em nexa_bold, times;
	color: #fdba31;
	padding: 10px 30px 9px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 0;
	-webkit-appearance:none;  
   	-webkit-border-radius:0px;
}
.formulario_padrao_1 input[type="submit"]:hover {
	background: #004961;
}
.formulario_padrao_1 .botao_submit_2 {
	border: 6px solid #004961 !important;
	color: #004961 !important;
}
.formulario_padrao_1 .botao_submit_2:hover {
	background: #fdba31 !important;
}
.formulario_padrao_1 .form_item {
  position:relative;
}
/****************************************************************/
/************** Mensagem erro formulário contato ****************/
/****************************************************************/
#especialidades {
 .formulario_padrao_1 {
  .form_item label {
    background: #004961;
    color: #fff;
  }
  .form_item label:after {
    border-color: #004961 transparent;  
  }
 }
 
}
.formulario_padrao_1 .form_item label {
  background:#8dc63f;
  border-radius: 4px;
  color: #004961;
  font: normal 12pt/1.5em nexa_bold, Times;
  padding-right: 15px;
  padding-left: 15px;  
  position: absolute;
  top: -25px;
  right: 10%;
} 
.formulario_padrao_1 .form_item label:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 15px;
  border-width: 15px 8px 0;
  border-style: solid;
  border-color: #8dc63f transparent;
  display: block;
  width: 0;
}


.input_preenchido {
  background: #fdba31 !important;
  color: #004961 !important;
}

.mensagem_envio {
    font: normal 16px/1em "nexa_bold", Times;
    color: #004961;
} 
/****************************************************************/
/************** FIM Mensagem erro formulário contato ************/
/****************************************************************/


























$iphone-portrait: 320px;
$iphone-landscape: 480px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
$desktop: 1224px;
$desktop-large: 1824px;

/*iPAD Portrait*/
/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {*/
/* iPhone */
/*@media only screen and (max-device-width: 480px) {*/
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #home_noticias .item_noticia{
    .wrapper_icon_noticias { 
      .continue_lendo, .compartilhar_noticia {
        width: 50px;
        height: 50px;
      }
    }
  }
  #home_noticias .item_noticia .compartilhar_noticia {
    right: 60px;
  }
  #home_noticias .item_noticia .compartilhar_noticia:before, 
  #home_noticias .item_noticia .continue_lendo:before, 
  #home_noticias .item_noticia .compartilhar_noticia > a:before {
    line-height: 50px;
  }
  #home_noticias .item_noticia .compartilhar_noticia:hover > a {
    
    right: -80px;
  }
}

//@media only screen and (min-width: 481px) and (max-width: 1024px) {
@media screen and (max-width: $ipad-landscape) {
  
  .wrapper, #home_intro {
    height: auto;
  }
  #pull {
    display: block;
    margin: -20px 0;
    position: absolute;
    top: 140px;
    width: 30px;
    height: 20px;
    left: 50px;
  }
  #logo {
    display: block;
    padding: 60px 0px;
    border-top: 1px solid #e6e7e8;
    margin-top: 30px;
    border-bottom: 1px solid #e6e7e8;
    -moz-transition: 0.2s ease-in-out 0.2s;
    -o-transition: 0.2s ease-in-out 0.2s;
    -ms-transition: 0.2s ease-in-out 0.2s;
    transition: 0.2s ease-in-out 0.5s;
    -webkit-transition: 0.2s ease-in-out 0.2s;
    -webkit-transform: translate3d(0,0,0)
  }
  #logo img {
    margin: 0;
    width: 110px;
    height: auto;
  }
  #header {
    display: block;
    border: none;
    padding:30px 0 0px 0px; 
    top:0;
    -moz-transition: 0.2s ease-in-out 0.2s;
    -o-transition: 0.2s ease-in-out 0.2s;
    -ms-transition: 0.2s ease-in-out 0.2s;
    -webkit-transition: 0.4s ease-in-out 0.2s;
    transition: 0.2s ease-in-out 0.2s;
    -webkit-transform: translate3d(0,0,0)
  }
  #header.hide_header {
      top: -60px !important;
    
      #logo {
        padding: 20px 0px;
      }
      #pull {
        top: 105px;
      }
  }
  
  /*#header div {
    display: block;
  }*/
  #pull {
    display: block !important;
    -moz-transition: 0.2s ease-in-out 0.2s;
    -o-transition: 0.2s ease-in-out 0.2s;
    -ms-transition: 0.2s ease-in-out 0.2s;
    transition: 0.2s ease-in-out 0.2s;
    -webkit-transition: 0.2s ease-in-out 0.2s;
    -webkit-transform: translate3d(0,0,0)
  }
  #menu {
   display:none;
   border-bottom: 1px solid #e6e7e8;
   padding: 30px 0px;
   margin: 0 auto;
   width: 90%;
  }
  #menu ul {
    margin: 0 auto;
  }
  #redes {
    position: absolute;
    top: 0;
    right: 90px;
    width: 100%;
    text-align: right;
    margin: 20px 0;
  }
  #idiomas {
    position: absolute;
    top: 5px;
    right: 20px;
    text-align: right;
    margin: 20px 0;
  }
  
  #home_intro {
    .home_wrapper {
      width:100%;
      left:0;
      top: 30%;
    }
    h1 {
      left:0;
      padding: 0 100px;
    }
    .mensagem {
      left: 0;
      padding: 30px 0 0 15%;
      .circulo {
        margin-right: 10px;
      }
      h2 {
        display: none;
      }
      .somos {
        width: 60%;
        top: -5px;
        h4 {
          padding-right: 100px;
          
        }
      }
    }
  }
  
  #home_trabalhos {
    height: auto;
  }
  #home_trabalhos .trabalhos_recentes {
    width: 100% !important;
    position: relative;
    height: auto;
  }
  #home_trabalhos .trabalhos_recentes_content {
    margin: 110px 120px;
  }
  #home_trabalhos .trabalhos_recentes h2 {
    width: 400px;
    display: inline-block;
    float: left;
    font-size: 60px;
  }
  #home_trabalhos .bt_padrao1 {
     .mensagem { 
       width: 107px;
     }
     p {
       color: #fbda31;
       text-indent: 0;
     }
  }
  #home_trabalhos .trabalhos_recentes .mais_trabalhos {
    float: right;
    margin: 20px 0px 0px;
    right: 120px;
    position: absolute;
  }
  #home_trabalhos .bt_esconder {
    display: none !important;
  }
  #home_trabalhos .projetos_slider .slider_menu input[type="range"] {
    width: 92%;
  }
  #home_trabalhos .projetos_slider {
    height: 700px;
    margin-left: 0;
    background: #004961;
  }
  #home_comotrabalhamos {
    height: auto;
    min-width: initial;
    padding-bottom: 370px;
  }
  #home_comotrabalhamos .fundo {
    height: 100%;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0%;
    left: 0%;
  }
  
  #home_comotrabalhamos .trabalhamos_1 {
    width: 100%;
    margin: 0;
    height: 450px;
    position: absolute;
    .inner {
      text-align: center;
    }
    h3 {
      margin: 0;
      font-size: 56pt;
    }
    p {
      margin: 50px 0;
      padding: 0 20%;
      font-size: 14pt;
      color: #fff;
    }
    .botao {
      margin: 70px 0 0 0;
    }
  }
  
  #home_comotrabalhamos .trabalhamos_2,
  #home_comotrabalhamos .trabalhamos_3, 
  #home_comotrabalhamos .trabalhamos_4{
    width: 33.33%;
    top: 370px;
    opacity: 1;
  }
  .trabalho-item .tb-info {
    padding: 0px; 
  }
  #home_comotrabalhamos .trabalho-item {
    border: none;
    display: inline-block;
  }
  .trabalho-item .tb-info .tb-info-tras h4 {
    margin-top: 45%;
  }
  .tb-info-frente .texto h4 {
    padding: 0 40px 5px; 
  }
  #home_comotrabalhamos > div {
    height: 580px;
    margin: 0;
    /*margin: 0px -3px 0px 0px;*/
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-tras .voltar{
    display: block; 
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-frente {
    margin: 50% auto;
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-tras {
    -webkit-transform: scale(1);
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding:0;
    background: #fdba31;
    top:0px;
    padding-top: 100px;
    .titulo {
      display: block;
      h4 {
      }
    }
    .texto {
      p {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-tras .voltar {
    display:block;
    position: absolute;
    left: 30px;
    bottom: 20px;
    background: #fdba31;
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 100%;
    border: 6px solid #fff;           
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-tras .voltar img {
    margin: 25% 25% 25% 20%;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  /*#home_comotrabalhamos .normal {
    margin: 40% 25%;
  }
  #home_comotrabalhamos > div .hover {
    display: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center; 
    
  }
  #home_comotrabalhamos > .trabalhamos_2 .hover, #home_comotrabalhamos > .trabalhamos_4 .hover {
    background: #fdba31;
  }
  #home_comotrabalhamos > div .hover .texto {
    margin: 35px 30px 25px 30px;
    width: auto;
  }
  
  #home_comotrabalhamos > div .hover .voltar {
    display:block;
    position: absolute;
    left: 30px;
    bottom: 30px;
    background: #fdba31;
    width: 55px;
    height: 55px;
    display: inline-block;
    border-radius: 100%;
    border: 6px solid #fff;           
  }
  #home_comotrabalhamos > div .hover .voltar img {
    margin: 25% 25% 25% 20%;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }*/
  
  #home_noticias .noticias h1 {
    /*margin: 130px 215px 110px;*/
   margin: 130px auto 110px;
    padding: 0px;
  }
  #home_noticias .bt_padrao1 {
    opacity: 1;
  }
  #home_noticias .noticias {
      .item_noticia {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        height: 110px;
        overflow: hidden;
        margin: 10px auto 20px;
        width: 70%;
        hr {
          width: 100%;
        }
        h5, p {
          opacity: 1;
        }
      }
      
  }
  
  #home_noticias .noticias .item_noticia p {
    margin-left: 100px;
  }
  #home_noticias {
    
    .wrapper_icon_noticias {
      right:0;
      opacity: 0;
      left: 0;
      bottom: 0;
      top: initial;
      margin-left: 15%;   
      z-index: -9999;
      
      .compartilhar_noticia 
      a {
        top: 8px;
      }
      
    }
    
  }
  
  #home_noticias .mostrar_detalhe_materia {
    height: 300px !important;
    transition:all 0.4s ;
    -moz-transition:all 0.4s;
    -webkit-transition:all 0.4s ease 0s;
  }
  #home_noticias .mostrar_detalhe_materia > p {
    color: #8dc63f !important;  
  }
  #home_noticias .mostrar_detalhe_materia > .wrapper_icon_noticias {
    opacity: 1;
    z-index: 0;
    -moz-transition-delay:0.5s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
  }
  
  #home_noticias .item_noticia .compartilhar_noticia > a {
    left: 0;
    opacity:0;
    transition:all 0.4s ;
      -moz-transition:all 0.4s;
      -webkit-transition:all 0.4s ease 0s;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_face{
    left: 90px;
    opacity: 1;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_google {
    left: 150px;
    opacity: 1;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_twitter {
    left: 210px;
    opacity: 1;
  }
  /*#home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_face{
    left: 90px;
    opacity: 1;
  }
  #home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_google {
    left: 190px;
    opacity: 1;
  }
  #home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_twitter {
    left: 290px;
    opacity: 1;
  }*/
  
  #home_noticias .bt_padrao1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 85px;
    a {
      width: 180px;
      display: inline-block;
      margin: 50px auto 0;
    }
  }
  
  #home_noticias .bt_padrao1 .mensagem {
    width: 107px;
  }
  #home_noticias .bt_padrao1 .mensagem p {
    color: #004961;
    text-indent: 0px;
  }
  
  
  
  #home_rodape .midias_sociais {
    padding: 60px 40px 55px;
  }
  #home_rodape .midias_sociais a {
    margin: 15px 5px;
    width: 130px;
    height: 130px;
  }
  .midias_sociais a::before {
    line-height: 130px;
  }
  #home_rodape .midias_sociais .mensagem {
    margin: 0px;
  }
  #home_rodape .ch-grid {
    margin: 0px;
  }
  #home_rodape .midias_sociais .ch-grid li {
    width: 150px;
    height: 150px;
    margin: 0px 15px;
  }
  #home_rodape .midias_sociais .ch-grid li:last-child {
    margin-right: 0px;  
  }
  #home_rodape .midias_sociais .ch-info p {
    margin: 50px auto;
  }
  .ch-item .ch-info-front {
    box-shadow: inset 0 0 0 10px #fdba31;
  }
  .ch-item .ch-info-back {
    opacity: 1 !important;
    box-shadow: inset 0 0 0 10px #fdba31;
  }
  
  #home_rodape .midias_sociais .mensagem {
    width: 30%;
    padding-right: 5%;
  }
  
  #home_rodape .midias_sociais .mensagem h4 {
    width: 210px;
    width: auto;
  }         
  
  #home_rodape .midias_sociais .mensagem p {
    display: none;
  }
  #home_rodape .midias_sociais .midias > div {
    margin: auto 0px;
    margin-left: -1500px;
  }
  #home_rodape .rodape {
    padding: 100px 50px 110px;
  }
  #home_rodape .rodape .mensagem_wrapper {
    width: 390px;
  }
  /****************************************************************/
  /****************** Página Especialidades ***********************/
  /****************************************************************/  
  #especialidades .especialidades_items .item {
    width: 200px;
    height: 200px;
  }
  #especialidades .especialidades_drag_items_min::before {
    font-size:10pt;
  }
  #especialidades .especialidades_drag_items::before{
    margin: 30px 0 0 115px;
  }
  #especialidades .especialidades_items, #especialidades .especialidades_formulario {
    width: 100%;
  }
  #especialidades .especialidades_formulario .especialidades_selecionadas {
    width: 25%;
  }
  #especialidades .especialidades_formulario .especialidades_formulario_envio {
    margin-left: 20px;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .fechar {
    margin: -50px 0 0 -50px;
    z-index: 9999;
  }
  
  
  
  /*******************************************************************/
  /***************** PÁGINA NOTICIAS *********************************/
  /*******************************************************************/
  #noticia .noticia-info {
    width: 95%;
    padding: 55px 0px 100px 0px;
  }
  
  #noticia .noticia-info .wrapper_noticia {
    width: 100%;
    
  } 
  #noticia .noticia-info .wrapper_noticia .noticia {
    margin-left: 0px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia h2 {
    line-height: 1.3em;
    width: 70%;
    font-size: 26pt;  
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia {
    margin-bottom: 0px;
    
  }
  #noticia .noticia-info .wrapper_noticia .categorias {
    width: 17%/*200px*/;
    margin-left: 20;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia {
    box-shadow: none;
    border-bottom: none;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download {
    float: none;
    width: 27%;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download h4 {
    font-size: 14pt;
    line-height: 1.3em;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li {
    font-size: 10pt;
    line-height: 1.3em;
  }
  .categorias ul li, .categorias ul li a {
    font-size: 16pt;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .texto_noticia {
    margin-right: 20px;
    margin-left: 100px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .continue_lendo, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra a {
    width: 60px;
    height: 60px;
    
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .continue_lendo:before {
    line-height: 60px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_face, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_google, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_twitter {
    line-height: 60px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_face {
    top: 90px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_google {
    top: 180px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_twitter {
    top: 270px;
  }
  #noticia .noticias_ultimas {
    width: 100%;
    height: 700px;
  }
  .noticias_ultimas .wrapper_ultimas {
    width: 100%;
    margin: 0 0px 90px 0px;
    display: block;
    margin-left: 20;
    padding-left: 5%;
    width: auto;
  }
  .noticias_ultimas .wrapper_ultimas h3 {
    display: block;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada {
    width: 30%;
  }
 /* .noticias_ultimas .wrapper_ultimas .ultima_adicionada:nth-child(odd) {
    margin: 0 1.5%;
  }*/
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada:first-child {
    margin: 0;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada h4 {
    font-size: 12pt;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada h5 {
    line-height: 1.3em;
    margin-top: 25px; 
    font-size:16pt;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada p {
    font-size: 10pt;
    width: 90%;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada img {
    width: 90%;
  }
  
  /*******************************************************************/
  /***************** FIM PÁGINA NOTICIAS *****************************/
  /*******************************************************************/
 
 /**rodape **/
  #menu_inferior {
    padding-left: 45px;
    li {
      margin: 0 5px;
    }
    li:first-child {
      margin-left: -5px;
    }
  }
  #home_rodape footer p {
    margin-right: 50px;
    text-align: right;
  } 
}

/*iphone
@media only screen and (max-width: 362px) {
@media screen and (max-device-width: 360px) , (max-width: 382px){*/
@media screen and (max-width:480px),(max-device-width: 480px){
  .wrapper {
    height: 700px;
  }
  
  #carregando {
    //border-width: 0 50px 50px 0;
    /*top: 60px;*/
  }
  #carregando img {
    top: 2;
    right: -52;
    width: 30;
  }
  #header {
    padding: 40px 0px 0px 0; 
  }
  #header.hide_header #pull {
    top: 87px;
  }
  
  #pull {
     display: block;
     position: absolute;
     margin: 0;
     top: 125px;
     left: 20px;
     width: 30px;
     height: 20px;
     
  }
  #menu {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  #menu ul {
    display: none;
    margin: 22px 0px;
    width: 100%;
    background: #fff;
  }
  #menu ul li {
    margin: 5px 0px;
    display: block;
    text-align: left;
  }
  #redes {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px 0;
  }
  #pull {
   
  }
  
  #logo {
    /*padding:40px 0px;*/
    margin-top: 20px;
    img {
      margin: 0;
    }
  }
  #home_intro {
    height: 150px;
    padding-bottom: 100px;
    .home_wrapper {
      top: 0;
    }
  }
  #home_intro h1 {
    padding: 70px 45px 30px;
  }
  #home_intro h1 span {
    font-size: 28pt;
    line-height: 1em;
  }
  
  #home_intro .mensagem .somos, #home_intro .mensagem h2{
    display:none;
  }
  #home_intro { 
    .continue .circulo {
      margin: 0px;
      width: 50px;
      height: 50px;
      border-width: 6px;
      img {
        margin: 12px 12px;
      }
    }
    .mensagem {
      padding: 0;
    }
  }
  
  #home_trabalhos {
    height: auto;
    padding-bottom: 110px;
    .trabalhos_recentes {
      width: 100%;
      height: 100px;
      position: relative;
      text-align: center;
      overflow: initial;
      .mais_trabalhos {
        top: 460px;
        right: 10px;
      }
    }
    .trabalhos_recentes_content {
      width: 100%;
      margin: 20px auto;
      h2 {
        font-size: 22pt;
        width: auto;
        margin: 20px auto;
        text-align: center;
        float: none;
      }
    }
    
    .bt_esconder {
      display: none;
    }
  }
  /*.bt_padrao1 {
    display: inline-block;
    width: 160px !important;
    margin: 0 0 50px 100px;
  }*/
  .bt_padrao1 .circulo  {
    background: transparent !important;
    width: 50px;
    height: 50px;
    border-right: none !important;
  }
  #home_trabalhos .bt_padrao1 .circulo, #home_trabalhos .bt_padrao1 .mensagem {
    border: 5px solid #FDBA31;
  }
  #home_noticias .bt_padrao1 .circulo, #home_noticias .bt_padrao1 .mensagem {
    border: 5px solid #004961;
  }
  .bt_padrao1 span {
    background: transparent image-url('mais_noticias.png') no-repeat center center;
    margin: 5px 0px 0px 5px;
  }
  .bt_padrao1 .mensagem {
    border-left: none !important;
    padding: 0;
    height: 50px;
    background: none !important;
    width: 80px;
  }
  .bt_padrao1 p {
    padding: 19px 0px 16px 0px;
    text-indent: 0;
    color: #004961;
    width: 70px;
  }
  #home_trabalhos .bt_padrao1 {
    width: 160px !important;
    padding-right: 10px;
  }
  #home_trabalhos .bt_padrao1 span{
    margin-top: 11px; 
  }
  #home_trabalhos .bt_padrao1 p {
    color: #FDBA31;
    width: 90px;
  }
  #home_trabalhos .bt_padrao1 .mensagem {
    width: 100px;
  }
  .bt_padrao1 a:hover .circulo > span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .bt_padrao1 a:hover > .mensagem { 
    width: 80px;  
    text-indent: 0;
  }
  .bt_padrao1 a:hover > .mensagem p{ 
    padding: 19px 0px 16px 0px;
  }
  /*.bt_padrao1 {
    margin-left: 80px;
  }
  
  .bt_padrao1, #home_noticias .bt_padrao1 {
    display: inline-block;
    width: 170px;
    margin: 0 0 50px 100px;
  }
  .bt_padrao1 a {
    margin: 60px 0 80px 140px;
  }
  .bt_padrao1 .circulo {
    background: none;
    border: 5px solid #fdba31;
    border-right: none;
    height: 51px;
  }
  .bt_padrao1 .circulo {
    background: #f1f2f2;
    border: 5px solid #004961;
    height: 60px;
    width: 60px;
  }
  .bt_padrao1 span {
    border-radius: 0;
    margin: 10px 0 0 5px;
    background: #f1f2f2 url('../images/mais_noticias.png') no-repeat center center;
  }
  
  .bt_padrao1 span {
    display: block;
    width: 40px;
    margin: 11px 4px 5px 10px;
    height: 40px;
  }
  
  .bt_padrao1 a:hover .circulo > span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .bt_padrao1 .mensagem {
    width: 65px;
  }
  .bt_padrao1 p {
    text-indent: 0;
    color: #004961;
    margin-left: -20;
  }
  
  #home_trabalhos .bt_padrao1 .mensagem {
    width: 100px;
    height: 51px;
    float: right;
    padding: 5px 5px 5px 0px;
  }
  #home_trabalhos .bt_padrao1 .mensagem p{
    text-indent: 0px; 
    padding-left: 0px;
    padding-right: 26px;
    color: #fdba31;
    padding: 20px 0px 17px 0px;
  }
  
  */
  
  
  
  
  
  

  #home_trabalhos .bt_padrao1 span {
    background: image-url('mais_trabalhos_amarelo.png') no-repeat center 4px;
  }
  
  #home_trabalhos .projetos_slider .slider_imagens ul li .descricao_item {
    display: none;
  }
  #home_trabalhos .projetos_slider .slider_imagens ul li {
    width: 100% !important;
    height: 320px;
  }
  #home_trabalhos .projetos_slider .slider_imagens ul li > img {
    width: 320px !important;
    height: 320px !important;
  }
  
  #home_trabalhos {
    .projetos_slider {
      margin: 10px 0 0 0;
      height: 345px;
      .slider_imagens {
        width: 100%;
      }
      .slider_menu {
        .container_range {
          width: 90%;
        }
      }
    }
  }
  .trabalho-item {
    min-height: initial;
  }
  
  #home_comotrabalhamos {
    padding-bottom: 440px;
    height: auto;
    min-width: 0;
    .trabalhamos_1 {
      .botao {
        bottom: -505px;
        position: relative;
      }
    }
    .tb-info-frente{
      .circulo {
        height: 60px;
        width: 60px;
        border-width: 6px;
        position: relative;
        float: left;
        left: 30px;
        top: -20px;
        
      }
      .circulo:after {
        line-height: 46pt;
        
      }
      .texto {
        position: absolute;
        top: 0;
        margin: 0 !important;
        left: 120px;
        display: table;
        height: 160px;
        width: 190px;
        h4 {
          display: table-cell;
          vertical-align: middle;
          font-size: 14pt;
          text-align: left;
          padding: 0;
        }
        hr {
          display: none;
        }
      }
    }
  }
  
  #home_comotrabalhamos .tb-item {
    margin: 0;
  }
  #home_comotrabalhamos .trabalho-item .tb-info .tb-info-frente {
    margin: 0;
  }
  .trabalho-item .tb-info {
    padding: 0;
  }
  .tb-info-frente .texto h4 {
    border: none;
    margin-left: 20px;
  }
  /*#home_comotrabalhamos .tb-info-wrap, .tb-info {
    width: 100%;
  }
  #home_comotrabalhamos .tb-info-front .circulo {
    float: left;
  }
  #home_comotrabalhamos .tb-info-front h4 {
    margin-top: 50px;
    font-size: 14pt;
  }*/
  
  
  #home_comotrabalhamos > div {
    width: 100%;
    min-height: initial;
  }
  #home_comotrabalhamos .inner {
    margin-top: 50px;
  }
  #home_comotrabalhamos .trabalhamos_1 {
    height: 300px;
  }
  #home_comotrabalhamos .trabalhamos_2,
  #home_comotrabalhamos .trabalhamos_3,
  #home_comotrabalhamos .trabalhamos_4 {
    height: 160px;
    width: 100%;
    top: 310px;
  }

  #home_comotrabalhamos .trabalhamos_1 h3 {
    font-size: 24pt;
  }
  #home_comotrabalhamos .trabalhamos_1 p {
    font-size: 12pt;
    padding: 0px 30px;
    text-align: center;
  }
  /*#home_comotrabalhamos .fundo {
    width: auto;
    margin: 0px;
    top: 0%;
  left: 0%;
  }
  #home_comotrabalhamos .fundo .normal {
    display: block;
    margin: 25px 30px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  #home_comotrabalhamos .normal .texto {
    display: inline-block;
    margin-left: 15px;
    width: 55%;
    float: right;
  }
  #home_comotrabalhamos .normal .texto h4{
    font-size:14pt;
    margin-top: 25%;
    border: none;
  }*/
  
  #home_noticias .bt_padrao1 {
    opacity: 1;
  }
  #home_noticias .noticias {
      .item_noticia {
        hr {
          width: 100%;
        }
        h5, p {
          opacity: 1;
        }
      }
      
  }
  
  #home_noticias { 
    .noticias h1 {
      font-size: 24pt;
      margin: 25px 30px;
      padding: 25px 10px;
      line-height: 1.5em;
      width: auto;
    }
    .bt_padrao1 a{
      width: 160px;
    }
  }
  
  #home_noticias .noticias .item_noticia {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    width: auto;
    overflow: hidden;
    margin: 30px 10%;
    
    height: auto;
  }
  #home_noticias .noticias .item_noticia p {
    font-size: 14pt;
    margin-left: 0px;
    position: relative;
    
  }
  #home_noticias .noticias .mostra_noticia h5 {
    position: relative;
  }
  
  #home_noticias .mostrar_detalhe_materia {
    /*height: 270px !important;*/
   padding-bottom: 190px;
    transition:all 0.4s ;
      -moz-transition:all 0.4s;
      -webkit-transition:all 0.4s ease 0s;
  }
  #home_noticias .mostrar_detalhe_materia > p {
    color: #8dc63f !important;  
  }
  #home_noticias .mostrar_detalhe_materia > .wrapper_icon_noticias {
    opacity: 1;
    z-index: 0;
    -moz-transition-delay:0.5s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
  }
  
  #home_noticias .item_noticia a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
 #home_noticias .item_noticia .wrapper_icon_noticias a, 
 #home_noticias .compartilhar_noticia { 
    width: 60px;
    height: 60px;
  }
  #home_noticias .item_noticia .wrapper_icon_noticias .continue_lendo:before, 
  #home_noticias .compartilhar_noticia:before { 
    line-height: 60px !important; 
  }
  #home_noticias .wrapper_icon_noticias {
    opacity: 0;
    left: 0;
    bottom: 80px;
    top: initial;
    margin-left: 0;   
    z-index: -9999;
    height: 60px;
    .continue_lendo {
      left: 40px;
    }
    .compartilhar_noticia {
      right: -10px;
      .compartilhar_face {
        left: -100px !important;
        top: 80px;
      }
      .compartilhar_google {
        top: 80px ;
        left: -40px !important;
      }
      .compartilhar_twitter {
        top: 80px;
        left: 20px !important;
      }
      .compartilhar_face:before, 
      .compartilhar_google:before, 
      .compartilhar_twitter:before {
        line-height: 53px !important;
      }
    }
  }
  #home_noticias .item_noticia .compartilhar_noticia > a {
    top: -8px;
  }
  #home_noticias .item_noticia .compartilhar_noticia > a {
    left: 0;
    opacity:0;
    transition:all 0.4s ;
      -moz-transition:all 0.4s;
      -webkit-transition:all 0.4s ease 0s;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_face{
    left: 53px;
    opacity: 1;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_google {
    left: 116px;
    opacity: 1;
  }
  #home_noticias .item_noticia .mostrar_compartilhar > .compartilhar_twitter {
    left: 177px;
    opacity: 1;
  }
  
  
  
  #home_rodape .midias_sociais {
    display: none;
  }
  #home_rodape .newsletter {
    height: auto;
    background: #fdba31;
    padding: 25px 0 0;
    h4 {
      background: #cd9929;
      padding: 10px 0;
    }
  }
  #newsletter:before {
    content: 'Receba atualizações da proiz';
    display: block;
    font: normal 21pt/1.2em "nexa_bold", Tahoma;
    color: #243942;
    top: -25px;
    background: #fdba31;
    width: 90%;
    position: relative;
    padding: 30px 2px;
    margin: 0 auto;
  }
  
  #home_rodape .newsletter form { 
    background: #cd9929;
    padding: 15px 0;
    input[type="text"] {
      width: 150px;
      left: 10px;
      position: absolute;
    }
    .bt_enviar {
      right: 5px;
      input[type="submit"] {
        padding: 18px 15px 13px;
      }
    }
  }
  
  #home_rodape {
    .rodape {
      padding: 70px 15px;      
    }
  }
  #menu_inferior { 
    position: relative;
    padding: 0;
    margin: 0 auto;
  }
  footer {
    p {
        display: none;
      }
  }
  #home_rodape .rodape .mensagem_wrapper {
    box-shadow: none;
    border: none;
    padding: 0;
    width: auto;
  }
  
  #home_rodape .rodape .mensagem {
    background: transparent;
    border: none;
    width: auto;
  }
  #home_rodape .rodape .mensagem img {
    margin-left: 0px;
  }
  #home_rodape .rodape .mensagem p {
    display:none; 
  }
  #home_rodape .rodape .endereco h3 {
    font-size: 14pt;
  }
  #home_rodape .rodape .endereco h3 {
    font-size: 12pt;
  }
  
/*****************************************************************/
/************ Inicio Página Especialidades - *********************/
/*****************************************************************/
  .titulo_padrao_1 h1 {
    font-size: 30px;  
  }
  #especialidades .wrapper_especialidades {
    padding-bottom: 0px;
  }
  #especialidades .especialidades_drag_items, #especialidades .especialidades_drag_items_min {
    display: none;
  }
  
  #especialidades .especialidades_items, #especialidades .especialidades_formulario {
    width: 100%;
  }
  #especialidades .especialidades_items .wrapper_items {
    padding: 0;
  }
  #especialidades .especialidades_items .item:hover { 
    background: none;     
  }
  /*#especialidades .especialidades_items .item:hover .item-child-span {
    top: 50%;
  }*/
 
  #especialidades .especialidades_items .item {
    width: 100%;
    border-radius: 0;
    margin: 0;
    /*height: 100px;*/
    height:inherit;
    display: block;
    background: #8dc63f;
  }
  #especialidades .especialidades_items .item:nth-child(even) {
    background: #78a22f;
  }
  
  #especialidades .especialidades_items .item .item-child {
    height: 100px;
    
  }
  #especialidades .especialidades_items .item > div:after {
    content: '>';
    position: absolute;
    bottom: 5px;
    right: 30px;
    -webkit-transform: rotate(90deg);
    color: #78a12e;
    font-size: 25px;
  }

  #especialidades .especialidades_items .item:nth-child(even) > div:after {
    color: #8dc53e; 
  }
  #especialidades .especialidades_items .item .especialidade_detalhada:after {
    top: 5px;
    bottom: initial;
    -webkit-transform: rotate(-90deg);
  }
  #especialidades .especialidades_items .item:nth-child(even) .especialidade_detalhada {
    border-top: 6px solid #78a22f;
    -webkit-transition: 0.2s;
  }
  #especialidades .especialidades_items .item .especialidade_detalhada {
    border-top: 6px solid #8dc63f;
    -webkit-transition: 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
  }
  #especialidades .especialidades_items .item .especialidade_detalhada {
    background: #fff;
    -webkit-transition: 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
  }
  #especialidades .especialidades_items .item .especialidade_detalhada p {
    color: #78a22f;
  }
  #especialidades .especialidades_items .item .item-child-span {
    right: initial;
    margin: -25px auto 0 auto;
    width: 50px;
    height: auto;
    top: 50px;
    left: 20px;
  }
  #especialidades .especialidades_items .item .item-child-span img {
    width: 100%;
    position: relative;
    margin: 0;  
  }
  #especialidades .especialidades_items .item .item-child p {
    opacity: 1;
    width: 80%;
    margin: 30px 0 0 55px ;
    bottom: 0;
    position: relative;
    display: inline-block;
  }
  
  #especialidades .especialidades_items .item .wrapper-descricao {
    left: 0px;
    width: 100%;
    height: auto;
    opacity: 0;
    z-index: -5;
    position: relative;
    display: block;
    /*top: 0 !important;*/
    background: transparent;
    margin: 20px 0 0 0;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao {
    margin: 0;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto {
    width: 100%;
    margin: 20px;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto p {
    margin: 0 0 25px 0;
    font-size: 12pt;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto h4 {
    font-size: 16px;
    color: #004961;
  }
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .fechar, 
  #especialidades .especialidades_items .item .wrapper-descricao .descricao > img,
  #especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto h3 {
    display: none;
  }
  
  #especialidades .especialidades_formulario {
    display: none;
  }
  
  /*******************************************************************/
  /***************** PÁGINA NOTICIAS *********************************/
  /*******************************************************************/
  #noticia .noticia-info {
    padding-bottom: 350px;
  }
  #noticia .noticia-info .wrapper_noticia{
    width: 100%;
    margin: 0px;
  }
  #noticia .noticia-info .wrapper_noticia .categorias,
  #noticia .noticia-info .wrapper_noticia .noticia {
    width: 100%;
    margin: 0px;
  }
  #noticia .noticia-info .wrapper_noticia .categorias h5,
  #noticia .noticia-info .wrapper_noticia .categorias ul {
    padding-left: 20px;
  }
  
  #noticia .noticia-info .wrapper_noticia .categorias ul li{
    display: inline;  
  }
  
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia {
    border: none;
    box-shadow: none;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia h2 {
    width: 95%;
    font-size: 16pt;
    padding-left: 20px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download {
    display: none;
  }
  
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe {
    position: relative;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .data_publicacao h3 {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia {
    height: 100px;
    width: 100%;
    bottom: -150px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra  .continue_lendo {
    display:none;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_face, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_google, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_twitter {
    opacity: 1;
    display: inline-block;
    position: static;
    background: #fdba31;
    color: #fff;
    box-shadow: 0px 0px 0px 8px #fdba31;  
    margin: 0 15px;       
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .share_mobile {
    display:block;
    text-align: center;
    margin-left: -40px;
    margin-bottom: 30px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra {
    text-align: center;
    margin-left: -30px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .share_mobile h3{
    font: normal 22pt/1.5em nexa_bold, Times;
    color: #12425c; 
    margin-bottom: 25px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .share_mobile h4{
    font: normal 12pt/1.5em droid_serif, Times;
    color: #808285; 
    padding: 0 100px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .continue_lendo, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra a {
    width: 48px;
    height: 48px;
    
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_face, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_google, 
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_twitter {
    line-height: 48px;
  }
  #noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .texto_noticia {
    margin: 0px 40px 0px 20px;
  }
  .noticias_ultimas .wrapper_ultimas {
    width: 100%;
    margin: 0 20px 90px 00px;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada, .noticias_ultimas .wrapper_ultimas .ultima_adicionada:nth-child(odd) {
    float: none !important;
    width: 95% !important;
    padding-left:8px !important;
    margin: 0 0 20px 0 !important;
  }
  .noticias_ultimas {
    height: auto;
  }
  .noticias_ultimas .wrapper_ultimas h3 {
    display: block;
    text-align: center;
    margin: 40px 0;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada img {
    display: none;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada h5 {
    margin: 0px 0px 15px;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada p {
    display: none;
  }
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada .ultimas_leiamais:before {
    content: '';
  }
  
  
  .noticias_ultimas .wrapper_ultimas .ultima_adicionada h4 {
    font-size: 12pt;
    margin-bottom: 5px;
  }
  /*******************************************************************/
  /***************** FIM PÁGINA NOTICIAS *****************************/
  /*******************************************************************/
  
  
}




/*****************************************************************/
/************ Inicio Página Trabalhos - **************************/
/*****************************************************************/


