// Place all the styles related to the trabalhos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*****************************************************************/
/************ Inicio Página Trabalhos - **************************/
/*****************************************************************/


/*****************************************************************/
/************ Página Trabalhos - Menu ****************************/
/*****************************************************************/
#trabalhos .menu_trabalhos {
  text-align: center;
}
#trabalhos .menu_trabalhos ul { 
  margin: 10px 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e7e8;
}
#trabalhos .menu_trabalhos ul li{
  display: inline-block;
  margin: 10px 10px 40px;
  
}
#trabalhos .menu_trabalhos ul li:hover > a {
  border-color: #a1cf63;
  background: #fff;
  transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}
#trabalhos .menu_trabalhos ul .ativo {
  border: 2px solid #a1cf63;
  background: #FFF;
}
#trabalhos .menu_trabalhos ul li a{
  font: normal 8pt/1em 'nexa_bold', Tahoma;
  color: #bdbdbd;
  margin: 2px 0px 10px 0px;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid transparent;
  letter-spacing: 1px;
}
/*****************************************************************/
/************ Página Trabalhos - FIM Menu ************************/
/*****************************************************************/

/*****************************************************************/
/************ Página Trabalhos - TRABALHOS************************/
/*****************************************************************/
#trabalhos {
  padding-top: 240px;
}
#trabalhos .titulo {
  text-align: center;
  margin-bottom: 65px;
}
#trabalhos .titulo h1, #trabalhos .titulo h1 a{
  font: normal 48pt/1em "nexa_bold", Tahoma;
  color: #bdbdbd;
  display: inline;
}
#trabalhos .titulo .trab_ativo, #trabalhos .titulo .trab_ativo a {
  color: #8dc63f;
}
#trabalhos .titulo h1 span{
  color: #bdbdbd; 
}

/*#trabalhos .corpo_trabalhos .item {
  height: 260px;
  width: 360px;
  /*width: 25%;
  float: left;
  position: relative;
}*/
#trabalhos .corpo_trabalhos .item img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#trabalhos .corpo_trabalhos .wrapper_item {
  height: 100%;
  width: 100%;
}
#trabalhos .corpo_trabalhos .wrapper_item:hover > .hover{
  opacity:1;  
  //display: table;
}
#trabalhos .corpo_trabalhos .item .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -o-transition: all 0.2s ease-in-out 0.2s;
  -ms-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}
#trabalhos .corpo_trabalhos .item .hover h4{
  color: #fff;
  font: normal 14pt/1.5em "nexa_bold", Tahoma;
  margin: 25% auto;
  letter-spacing: 1px;
}
/*****************************************************************/
/************ Página Trabalhos - FCOMPARTILHAR *******************/
/*****************************************************************/

#trabalhos .compartilhar {
  text-align: center;
  margin: 0 auto;
  width: 415px;
  margin-bottom: 150px;
}
#trabalhos .compartilhar h3 { 
  font: normal 28pt/1em "nexa_bold", Tahoma;
  color: #12425c;
  margin: 0px 0px 25px 0px; 
}
#trabalhos .compartilhar h4 {
  font: normal 14pt/1.5em "droid_serif", Times;
  color: #808285;
  padding: 0px 80px;
  margin-bottom: 50px;
}

#trabalhos .compartilhar .botoes_amarelos > div {
  margin: 0 10px;
  display: inline-block;
}
#trabalhos .compartilhar .botoes_amarelos a {
  font-family: 'icons';
  font-size:24pt;
  height: 70px;
  width: 70px;
  background: #fdba31;
  border-radius: 50%;
  background-color: #fdba31;
  -moz-transition:0.8s all;
  -webkit-transition:0.8s all;
  text-align:center;
  display: block;
}
#trabalhos .compartilhar .botoes_amarelos a:hover {
  background: rgba(255,255,255,1);
  box-shadow: 0 0 0 8px rgba(36, 57, 66,1);
}
#trabalhos .compartilhar .botoes_amarelos a:before {
  
  color: #fff;
  speak: none;
  line-height: 70px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
}

#trabalhos .compartilhar .botoes_amarelos a:hover:before {
  color: #fdba31;
}
#trabalhos .compartilhar .botoes_amarelos a:hover:before {
  -webkit-animation: toRightFromLeft 0.3s;
  -moz-animation: toRightFromLeft 0.3s;
  animation: toRightFromLeft 0.3s;
}
#trabalhos .compartilhar .botoes_amarelos .bt_facebook a:before {
  content: "\e413";
}
#trabalhos .compartilhar .botoes_amarelos .bt_google a:before {
  content: "\e422";
}
#trabalhos .compartilhar .botoes_amarelos .bt_twitter a:before {
  content: "\e416";
}
@-moz-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*****************************************************************/
/************ Página Trabalhos - FIM COMPARTILHAR *****************/
/*****************************************************************/


/*****************************************************************/
/************ Página Trabalhos - Detalhe do trabalho *************/
/*****************************************************************/
#trabalhos .detalhe_trabalho .detalhe {
  text-align: center;
  margin: 100px auto 240px;
  width: 970px;
  height:auto;
  position: relative;
}
#trabalhos .detalhe_trabalho .detalhe .descricao {
  margin: 0 auto;
  min-height: 200px;
}
#trabalho_detalhe_menu {
  display:none;
} 
#trabalhos .detalhe_trabalho .detalhe .descricao .intro{
  display: inline-block;
  width: 35%;
  text-align: left;
  float: left;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .intro h2 {
  font: normal 26pt/1.4em "nexa_bold", Times;
  color: #004961;
  margin-bottom: 20px;
  border-bottom: 1px solid #8dc63f;
  padding-bottom: 25px;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .intro p {
  font-family:"droid_serif", Times;
  font-size: 10pt;
  line-height: 1.4em;
  color: #4f4e4e;
  font-weight: normal;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .info {
  display: block;
  width: 100%;  
  text-align: left;
  margin-left: 65px;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .info p {
  font: normal 12pt/1.9em "droid_serif", Times;
  color: #4f4e4e;
  -webkit-column-count:2; /* Chrome, Safari, Opera */
  -moz-column-count:2; /* Firefox */
  column-count:2;
  column-gap: 50px;
  -webkit-column-gap: 50px;
  padding-left: 20px;
  //min-height: 200px;
}
#trabalhos .detalhe_trabalho .detalhe .full-info {
  margin: 80px auto;
  display: inline-block;
  .image-info {
    margin-bottom: 100px;
  }
  img {
    margin: 0px auto 65px;
    width: auto;
    max-width: 100%;
    display: block;
  }
  p {
    font: normal 12pt/1.9em "droid_serif", Times;
    padding-left: 50px;
    color: #4f4e4e;
    text-align: justify;
    display: block;
  }
  span {
    float: left;
    background: #004961;
    text-indent: -9999;
    width: 5px;
    height: 25px;
    margin: 0 2px;
  }
}
/*****************************************************************/
/************ Página Trabalhos - FIM detalhes do trabalho ********/
/*****************************************************************/














.corpo_trabalhos {
  padding: 100px 30px 0;
  margin: 0 auto;
  position: relative;
  #carregando_trabalho {
    position: absolute;
    width: 95%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    display: none;
    z-index: 2;
    
  }
  #carregando_trabalho::before {
    content: '\e406';
    font-family: 'icons';
    position: absolute;
    top: 10px;
    font-size: 25pt;
    color: #BDBDBD;
    -webkit-animation: rodando 2.5s infinite linear;
  }
}
#grid {
  position: absolute;
  /*min-height: 1300px;*/
}
#grid .item a {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  color: transparent;
}
#trabalhos .corpo_trabalhos .item .hover .descricao_trabalho {
  position: relative;
  /*margin: 25% auto;*/
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  //display: table-cell;
  //vertical-align: middle;
}
#trabalhos .corpo_trabalhos .compartilhar {
  margin-top: 250px;
}
#trabalhos .corpo_trabalhos .item .hover h4 {
  /*width: 60%;
  padding: 25% 20px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 30%;
  margin: auto;
}
/*#trabalhos .corpo_trabalhos .item:hover > .hover h4 {
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  -webkit-animation: bordasurgirtrabalhos 0.6s;
  
  display: inline-block;
  padding: 15px 0;
  margin: 0;
  display: initial;
}*/
#trabalhos .tam1 .descricao_trabalho {
  margin: 25% auto !important;
}
#trabalhos .tam2 .descricao_trabalho {
  /*margin: 200px auto !important;*/
 height: 100%;
}
.tam2 {
  .hover h4:before, .hover h4:after {
    -webkit-transition: all 0.4s linear;
    -webkit-transition-delay: 0.1s;
    transition: all 0.4s linear;
    transition-delay: 0.2s;
  }
  .hover h4:before {
     top: -160px;
  }
  .hover h4:after {
     top: 160px;
  }
}
.tam1 {
  .hover h4:before, .hover h4:after {
    -webkit-transition: all 0.2s linear;
    -webkit-transition-delay: 0.1s;
    transition: all 0.2s linear;
    transition-delay: 0.2s;
  }
  .hover h4:before {
    top: -63px;
  }
  .hover h4:after {
     top: 63px;
  }
}
#trabalhos .corpo_trabalhos .wrapper_item:hover > .hover h4:before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #FFF;
  top: 0;
  position: relative; 
}

#trabalhos .corpo_trabalhos .item .hover h4:after, #trabalhos .corpo_trabalhos .item .hover h4:before  {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  position: relative;
  
}

#trabalhos .corpo_trabalhos .wrapper_item:hover > .hover h4:after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #FFF;
  top: 0;
  position: relative; 
}

#detalhe_modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f1f2f2;
  left: 0;
}
#detalhe_modal > div {
  padding-top: 50px;
} 
#detalhe_modal .fechar_detalhetrabalho {
  position: absolute;
  top: -100px;
  right: 20px;
  background: #fdba31;
  width: 30px;
  height: 30px;
  border-top: 1px solid #f6dca5;
  border-bottom: 1px solid #f6dca5;
  line-height: 1.5em;
  font-family: nexa_light;
  font-size: 16pt;
  color: #004961;

}

@-webkit-keyframes bordasubirtrabalhos {
  0% {
    bottom: -60;
    border-color: rgba(255,255,255,0);
  }
  100% {
    bottom: -20;
    border-color: rgba(255,255,255,1);
  }
}
@-webkit-keyframes bordadescertrabalhos {
  0% {
    top: -60;
    border-color: rgba(255,255,255,0);
  }
  100% {
    top: -20;
    border-color: rgba(255,255,255,1);
  }
}

@-moz-keyframes bordasurgirtrabalhos {
  0% {
    padding:60px 0;
    border-color: rgba(255,255,255,0);
  }
  100% {
    padding: 15px 0;
    border-color: rgba(255,255,255,1);
  }
}
@-webkit-keyframes bordasurgirtrabalhos {
  0% {
    padding:60px 0;
    border-color: rgba(255,255,255,0);
  }
  100% {
    padding: 15px 0;
    border-color: rgba(255,255,255,1);
  }
}

#trabalhos .corpo_trabalhos .item {
  /*height: 260px;*/
  width: 19%;
  /*float: left;*/
  margin: 5px;

  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -o-perspective: 1300px;
  -ms-perspective: 1300px;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.2s linear;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; 
}
#trabalhos .corpo_trabalhos .tam1 {
  /*height: auto;*/
  height: 200px;
  background: blue;
  
}
#trabalhos .corpo_trabalhos .tam2 {
  height: 410px;
  background: red;
}
#trabalhos .corpo_trabalhos .tam2 img{
  height: 100% !important;  
}
#trabalhos .corpo_trabalhos .item img{
  height: 100%; 
}
.corpo_trabalhos .item.animate {
  transform: translateZ(400px) translateY(300px) rotateX(0deg);
  -webkit-transform: translateZ(-400px) translateY(-200px) rotateX(90deg);
  -moz-transform: translateZ(-400px) translateY(-200px) rotateX(0deg);
  -o-transform: translateZ(-400px) translateY(-200px) rotateX(0deg);
  -ms-transform: translateZ(-400px) translateY(-200px) rotateX(0deg);
  
  -webkit-animation: fallPerspective .8s ease-in-out forwards;
  animation: fallPerspective .8s ease-in-out forwards;
}
@-webkit-keyframes fallPerspective {
    100% { 
        transform: translateZ(0px) translateY(0px) rotateX(0deg); 
      -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
      -moz-transform: translateZ(0px) translateY(0px) rotateX(0deg);
      -o-transform: translateZ(0px) translateY(0px) rotateX(0deg);
      -ms-transform: translateZ(0px) translateY(0px) rotateX(0deg);
        opacity: 1; 
      
      }
}
@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}


@media only screen and (min-width: 725px) and (max-width: 1024px) { 
  .corpo_trabalhos {
    padding: 100px 10px;
  }
  #trabalhos .corpo_trabalhos .item {
    width: 24%;
    margin: 2px;
  }
  #trabalhos .corpo_trabalhos .tam2 {
    height: 250px;  
  }
}
@media only screen and (min-width: 481px) and (max-width: 724px) {
  .corpo_trabalhos {
    padding: 100px 10px;
  }
  #trabalhos .corpo_trabalhos .item {
    width: 32%;
    margin: 2px;
  } 
  #trabalhos .corpo_trabalhos .tam2 {
    height: 200px;  
  }
  
}
@media screen and (max-device-width: 360px) , (max-width: 480px){
  .corpo_trabalhos {
    padding: 100px 5px;
  }
  #trabalhos .corpo_trabalhos .item {
    width: 48%;
    margin: 2px;
  } 
}





/*****************************************************************/
/************ Página Trabalhos - Detalhe trabalho ****************/
/*****************************************************************/
/*iPAD Portrait*/
/*@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {*/
/* iPhone */
/*@media only screen and (max-device-width: 480px) {*/
@media only screen and (min-width: 481px) and (max-width: 1024px) { 
  #trabalhos .titulo h1 {
    font-size:36pt;
  }
  #trabalhos .menu_trabalhos ul li {
    margin: 10px 0px; 
  }
  #trabalhos .detalhe_trabalho .detalhe {
    width: 85%;
  } 
 
  #trabalhos .detalhe_trabalho .detalhe .descricao .info p {
    column-gap: 30px;
    -webkit-column-gap: 30px;
  }
  #trabalhos .detalhe_trabalho .detalhe {
    width: 80%;
  } 
}

/*@media only screen and (max-device-width: 480px) , (max-width: 482px){*/
@media screen and (max-width:480px),(max-device-width: 480px){
  #trabalhos {
    padding-top: 140px;
  }
  #trabalhos .menu_trabalhos {
    display: none;  
  }
  #trabalhos .detalhe_trabalho .detalhe {
    width: 80%;
    margin: 40px auto 100px;
  }
  
  
  #trabalhos .titulo {
    width: 100%;
    margin: 50px auto 0px;
    border-bottom: 1px solid #e6e7e8;
    padding-bottom: 50px;
  }
  #trabalhos .titulo h1 {
    font-size: 23pt;
  }
  #trabalhos .titulo h1 span {
    display: block;
  }
  
  #trabalhos .detalhe_trabalho .detalhe .descricao .intro {
    display: block;
    width: 100%;
    margin-bottom: 25px;
  }
  #trabalhos .detalhe_trabalho .detalhe .descricao .intro h2 {
    font-size: 18pt;  
  }
  
  #trabalho_detalhe_menu {
    display:block;
    padding: 0;
    list-style: none;
  }
  #trabalho_detalhe_menu li{
    display: inline-block;
    margin: 0 2.5px;
    padding: 5px 6px;
  }
  #trabalho_detalhe_menu .ativo{
    background-color: #e3e4e4;  
  }
  #trabalho_detalhe_menu li a{
    font: normal 10pt/1em "droid_serif", Tahoma;
    text-transform: uppercase;
    color: #004961;
  } 
  #trabalhos .detalhe_trabalho .detalhe .descricao .intro-info {
    overflow: hidden;
    display: none;
  } 
  #trabalhos .detalhe_trabalho .detalhe .descricao .info {
    width: 100%;
  }
  #trabalhos .detalhe_trabalho .detalhe .descricao .info p {
    font: normal 12pt/1.5em "droid_serif", Tahoma;
    color: #4f4e4e;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  #trabalhos .detalhe_trabalho .detalhe .full-info {
    margin: 50px auto 0px;
  }
  #trabalhos .detalhe_trabalho .detalhe .full-info .span {
    display: none;
  }
  #trabalhos .detalhe_trabalho .detalhe .full-info p {
    margin: -65px 0;
    padding-left: 0px;
    display:none;
  }
  
  .mobile-image-fundo {
    background: #004961;
    height: 3000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    -moz-transition: 0.4s all;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  .mobile-image {
    position: fixed;
    top: 50%;
  }
  .mobile-image-legenda-icon {
    /*display: block;
    
    background: #fff;*/
    text-indent: -9999;
    width: 100%;
    margin: -65px 0;
    position: absolute;
    height: 25px;
    background: #fdba31 url('../images/legenda_detalhes.png') center center no-repeat;
  }
  .mobile-image-legenda {
    background: #fff url('../images/legenda_detalhes.png') top center no-repeat;
    text-indent: 0;
    margin-top: -321px;
    height: auto;
    padding: 20px 0px;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
    -moz-transition: all 0.4s ease-in-out 0.2s;
    -o-transition: all 0.4s ease-in-out 0.2s;
    -ms-transition: all 0.4s ease-in-out 0.2s;
    transition: all 0.4s ease-in-out 0.2s;
  }
  
  #trabalhos .compartilhar {
    width: 90%;
  }
  #trabalhos .compartilhar h4 {
    font-size: 14pt;
    padding: 0 10px;
  }
  #trabalhos .compartilhar .botoes_amarelos .bt_facebook {
    margin: 0 5px;
  }
  #trabalhos .compartilhar .botoes_amarelos .bt_facebook a {
    height: 50px;
    width: 50px;
    font-size: 20pt;
  }
  #trabalhos .compartilhar .botoes_amarelos .bt_facebook a:before {
    line-height: 50px;
  }
  
}


.fb-post span,
.fb-post iframe {
    width: 520px! important;
    //height: 331px! important;
}
#trabalhos .detalhe_trabalho .detalhe {
  min-height: 630px;
margin: 100px auto 0;
}


