<div id="wrapper_admin">
	<div class="lista_paginas">
		<ul>
			<li><%= link_to "Usuários", users_path, :remote => true %></li>
			<li><%= link_to "Novo usuario", users_new_path, :remote => true %></li>
			<li><%= link_to "Clientes", clientes_path, :remote => true %></li>
			<li><%= link_to "Novo cliente", clientes_new_path, :remote => true %></li>
		</ul>		
	</div>
	<div class="detalhe_pagina" id="detalhe_tabela">
		adfadfs
	</div>
</div>
