<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email de teste do site proiz</h1>
    <p>Se voce recebeu este email entao deu certo.</p>
  </body>
</html>